* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  width: 1440px;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.services {
  background: linear-gradient(-110deg, rgb(50, 50, 100), rgb(50, 50, 100), rgb(100, 62, 114));
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 60px;
}
.services_title a {
  display: flex;
  align-items: center;
  gap: 2px;
  color: rgb(36, 163, 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.services_title .services_hover:hover a {
  color: rgb(240, 20, 90);
}
.services_title .services_hover:hover svg {
  stroke: rgb(240, 20, 90);
}
.services_title h2 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 38px;
  background: linear-gradient(90deg, rgb(240, 20, 90), rgb(239, 128, 128));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services_cards {
  margin-top: 60px;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.card {
  width: 400px;
}
.card img {
  padding: 14px;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
}
.card h5 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px;
  color: rgb(36, 163, 255);
  line-height: 27px;
}
.card p {
  font-size: 16px;
  line-height: 26px;
  color: rgb(255, 255, 255);
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
}
.clients_item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  width: 100%;
  height: 120px;
}
.clients_item img {
  padding: 10px 50px;
  width: 70%;
}
.clients_hillel {
  background-color: rgb(28, 66, 128);
}
.clients_wannabiz {
  background-color: rgb(20, 54, 70);
}
.clients_tapgerine {
  background-color: rgb(244, 139, 48);
}
.clients_3dlook {
  background-color: rgb(158, 77, 195);
}
.clients_orangear {
  background-color: rgb(253, 147, 57);
}
.clients_adtelligent {
  background-color: rgb(226, 226, 228);
}
.clients_clickky {
  background-color: rgb(199, 28, 54);
}
.clients_eco-leasing {
  background-color: rgb(220, 243, 249);
}
.clients_infratek {
  background-color: rgb(234, 234, 234);
}
.clients_city-park {
  background-color: rgb(40, 34, 64);
}
.clients_artprint {
  background-color: rgb(29, 69, 104);
}
.clients_ultimatecard {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 375px) {
  .wrapper {
    max-width: 375px;
    width: 100%;
  }
  .mobile-hidden {
    display: none;
  }
  .services {
    padding: 30px;
  }
  .services_title {
    max-width: 315px;
  }
  .services_title h2 {
    font-size: 30px;
  }
  .services_cards {
    margin-top: 30px;
    gap: 30px;
  }
  .clients_item {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 768px;
    width: 100%;
  }
  .mobile-hidden {
    display: inline-flex;
  }
  .services {
    padding: 60px;
  }
  .services_title {
    max-width: 650px;
    margin-bottom: 60px;
  }
  .services_title h2 {
    font-size: 38px;
  }
  .card {
    max-width: 294px;
  }
  .clients_item {
    max-width: 256px;
  }
  .clients_item img {
    width: 110%;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    max-width: 1024px;
    width: 100%;
  }
  .services_title {
    max-width: 100%;
  }
  .services_cards {
    gap: 60px;
  }
  .card {
    max-width: 260px;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    max-width: 1920px;
    width: 100%;
  }
  .services_title {
    margin: 0 160px 60px;
  }
  .services_cards {
    padding: 0 160px;
    justify-content: space-between;
  }
  .card {
    max-width: 493px;
  }
  .clients {
    margin: 60px 100px;
  }
  .clients_item {
    max-width: 430px;
  }
  .clients_item img {
    width: 65%;
  }
}

/*# sourceMappingURL=style.css.map */
