* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.services {
  background: linear-gradient(-110deg, rgb(50, 50, 100), rgb(50, 50, 100), rgb(100, 62, 114));
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 60px;
  margin-bottom: 60px;
  width: 100%;
  position: relative;
}
.services_title a {
  display: flex;
  align-items: center;
  gap: 2px;
  color: rgb(36, 163, 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.services_title .services_hover:hover a {
  color: rgb(240, 20, 90);
}
.services_title .services_hover:hover svg {
  stroke: rgb(240, 20, 90);
}
.services_title h2 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 38px;
  background: linear-gradient(90deg, rgb(240, 20, 90), rgb(239, 128, 128));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services_cards {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.services::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 20px;
  left: 20px;
  z-index: 5;
  height: 10px;
  border-radius: 0 0 12px 12px;
  background-color: #CACADB;
}
.services::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 40px;
  left: 40px;
  z-index: 5;
  height: 10px;
  border-radius: 0 0 12px 12px;
  background-color: #E7E7F2;
}

.card .img_box {
  display: inline-block;
  padding: 14px;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
}
.card h5 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px;
  color: rgb(36, 163, 255);
  line-height: 27px;
}
.card p {
  font-size: 16px;
  line-height: 26px;
  color: rgb(255, 255, 255);
}

.clients {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.clients_item {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients_item img {
  width: 50%;
}
.clients_item:nth-child(1) {
  background-color: rgb(28, 66, 128);
}
.clients_item:nth-child(2) {
  background-color: rgb(20, 54, 70);
}
.clients_item:nth-child(3) {
  background-color: rgb(244, 139, 48);
}
.clients_item:nth-child(4) {
  background-color: rgb(158, 77, 195);
}
.clients_item:nth-child(5) {
  background-color: rgb(253, 147, 57);
}
.clients_item:nth-child(6) {
  background-color: rgb(226, 226, 228);
}
.clients_item:nth-child(7) {
  background-color: rgb(199, 28, 54);
}
.clients_item:nth-child(8) {
  background-color: rgb(220, 243, 249);
}
.clients_item:nth-child(9) {
  background-color: rgb(234, 234, 234);
}
.clients_item:nth-child(10) {
  background-color: rgb(40, 34, 64);
}
.clients_item:nth-child(11) {
  background-color: rgb(29, 69, 104);
}
.clients_item:nth-child(12) {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 375px) {
  .mobile-hidden {
    display: none;
  }
  .services {
    padding: 30px;
  }
  .services h2 {
    font-size: 30px;
  }
  .services_cards {
    margin-top: 30px;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding-bottom: 30px;
  }
  .clients {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .mobile-hidden {
    display: flex;
  }
  .services {
    padding: 60px;
  }
  .services_title {
    max-width: 650px;
    margin-bottom: 60px;
  }
  .services_title h2 {
    font-size: 38px;
  }
  .services_cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
  .clients {
    grid-template-columns: repeat(3, 1fr);
  }
  .clients img {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .services_title {
    max-width: 100%;
  }
  .services_cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
  .clients {
    grid-template-columns: repeat(4, 1fr);
  }
  .clients img {
    width: 60%;
  }
}
@media (min-width: 1440px) {
  .clients_item img {
    width: 50%;
  }
}
@media (min-width: 1920px) {
  .services_title {
    margin: 0 160px 60px;
  }
  .services_cards {
    margin: 0 160px;
  }
  .clients {
    margin: 0 160px;
    border-radius: 12px;
    overflow: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
