@use  './mixins';

.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;

    &_item {
        width: 360px;
        height: 120px;
    }

    &_hillel {
        @include mixins.partners(36px, 71px, 217px, rgba(28, 66, 128, 1));
    }

    &_wannabiz {
        @include mixins.partners(44px, 80px, 199px, rgba(20, 54, 70, 1) );
    }

    &_tapgerine {
        @include mixins.partners(38px, 90px, 179px, rgba(244, 139, 48, 1));
    }

    &_3dlook {
        @include mixins.partners(39px, 90px, 180px, rgba(158, 77, 195, 1));
    }

    &_orangear {
        @include mixins.partners(38px, 93px, 174px, rgba(253, 147, 57, 1));
    }

    &_adtelligent {
        @include mixins.partners(36px, 87px, 187px, rgba(226, 226, 228, 1));
    }
    
    &_clickky {
        @include mixins.partners(30px, 111px, 138px, rgba(199, 28, 54, 1));
    }

    &_eco-leasing {
        @include mixins.partners(22px, 107px, 146px, rgba(220, 243, 249, 1));
    }

    &_infratek {
        @include mixins.partners(30px, 89px, 182px, rgba(234, 234, 234, 1));
    }

    &_city-park {
        @include mixins.partners(41px, 90px, 181px, rgba(40, 34, 64, 1));
    }

    &_artprint {
        @include mixins.partners(37px, 86px, 189px, rgba(29, 69, 104, 1));
    }

    &_ultimatecard {
        @include mixins.partners(13px, 104px, 182px, rgba(0, 0, 0, 1));
    }
}