@media (min-width: 375px) {
    .mobile-hidden {
        display: none;
    }

    .services {
        h2 {
            font-size: 30px;
            }
        
        &_title {
            padding-top: 30px;
            max-width: 315px;
        }

        &_cards {
            max-width: 315px;
            margin-top: 30px;
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
            padding-bottom: 30px;
        }
    }

    .clients {
        max-width: 375px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) {
    .mobile-hidden {
        display: flex;
    }

    .services {
        &_title {
            padding-top: 60px;
            max-width: 648px;
            margin-bottom: 60px;

            h2 {
            font-size: 38px;
            }
        }

        &_cards {
            max-width: 648px;
            grid-template-columns: repeat(2, 1fr);
            gap: 60px;
        }
    }

    .clients {
        max-width: 768px;
        grid-template-columns: repeat(3, 1fr);

        img {
            width: 70%;
        }
    }
}

@media (min-width: 1024px) {
    .services_title {
        max-width: 904px;
    }

    .services_cards { 
        max-width: 904px;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
    }

    .clients {
        max-width: 1024px;
        grid-template-columns: repeat(4, 1fr);

        img {
            width: 60%;
        }
    }
}

@media (min-width: 1440px) {
    .services_cards,
    .services_title {
        max-width: 1320px;
    }

    .clients {
        max-width: 1440px;
    }

    .clients_item {
        img {
            width: 50%;
        }
    }
}

@media (min-width: 1920px) {
    .services_title {
        width: 1600px;
        margin: 0 160px 60px;
    }

    .services_cards {
        width: 1600px;
        margin: 0 160px;
    }

    .clients {
        width: 1720px;
        border-radius: 12px;
        overflow: hidden;
    }
}