@media (min-width: 375px) {
    .wrapper {
        max-width: 375px;
        width: 100%;
    }

    .mobile-hidden {
        display: none;
    }

    .services {
        padding: 30px;

        &_title {
            max-width: 315px;

            h2 {
                font-size: 30px;
            }
        }

        &_cards {
            margin-top: 30px;
            gap: 30px;
        }
    }

    .clients_item {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 768px;
        width: 100%;
    }

    .mobile-hidden {
        display: inline-flex;
    }

    .services {
        padding: 60px;

        &_title {
            max-width: 650px;
            margin-bottom: 60px;

            h2 {
                font-size: 38px;
            }
        }
    }
    
    .card {
        max-width: 294px;
    }

    .clients_item {
        max-width: 256px;

        img {
            width: 110%;
        }
    }
}

@media (min-width: 1024px) {
    .wrapper {
        max-width: 1024px;
        width: 100%;
    }

    .services_title {
        max-width: 100%;
    }

    .services_cards {
        gap: 60px;
    }

    .card {
        max-width: 260px;
    }
}

@media (min-width: 1920px) {
    .wrapper {
        max-width: 1920px;
        width: 100%;
    }

    .services_title {
        margin: 0 160px 60px;
    }

    .services_cards {
        padding: 0 160px;
        justify-content: space-between;
    }

    .card {
        max-width: 493px;
    }

    .clients {
        margin: 60px 100px;
    }

    .clients_item {
        max-width: 430px;

        img {
            width: 65%;
        }
    }
}