@media (min-width: 375px) {
    .mobile-hidden {
        display: none;
    }

    .services {
        padding: 30px;

            h2 {
                font-size: 30px;
            }

        &_cards {
            margin-top: 30px;
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
            padding-bottom: 30px;
        }
    }

    .clients {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) {
    .mobile-hidden {
        display: flex;
    }

    .services {
        padding: 60px;

        &_title {
            max-width: 650px;
            margin-bottom: 60px;

            h2 {
                font-size: 38px;
            }
        }

        &_cards {
            grid-template-columns: repeat(2, 1fr);
            gap: 60px;
        }
    }

    .clients {
        grid-template-columns: repeat(3, 1fr);

        img {
            width: 70%;
        }
    }
}

@media (min-width: 1024px) {
    .services_title {
        max-width: 100%;
    }

    .services_cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
    }

    .clients {
        grid-template-columns: repeat(4, 1fr);

        img {
            width: 60%;
        }
    }
}

@media (min-width: 1440px) {
    .clients_item {
        img {
            width: 50%;
        }
    }
}

@media (min-width: 1920px) {

    .services_title {
        margin: 0 160px 60px;
    }

    .services_cards {
        margin: 0 160px;
    }

    .clients {
        margin: 0 160px;
        border-radius: 12px;
        overflow: hidden;
    }
}